.git/*
.gitignore
.DS_Store
.dir-locals.el
.venv/*
db.sqlite3
ballot/yourballot/locality/geo/geojson/federal/*.json
ballot/yourballot/locality/geo/geojson/state/**.json
ballot/yourballot/locality/geo/geojson/zipcode/*.json