.git/*
.gitignore
.DS_Store
.dir-locals.el
.venv/*
db.sqlite3
./yourballot/locality/geo/geojson/federal/*.json
./yourballot/locality/geo/geojson/state/*/*.json
./yourballot/locality/geo/geojson/zipcode/*.json
